body{margin: 0;padding: 0;font-family: sans-serif;}
.center{text-align: center;}
.event_calendar{width: 50%}
.event_details{width: 50%}
.float_left{float: left;}
.mt_5{margin-top: 5px}
img{max-width: 100%;}
.fc-daygrid-event{cursor: pointer;}
@media(max-width: 512px){
	.event_calendar, .event_details{width: 100%}
}